body {
    background-color: var(--color-fondo);
    font-family: "Antic Didone", serif;
    font-weight: bold;
    box-sizing: border-box;
    background-color: var(--fondo);
    color: var(--texto);
    font-size: 1.3rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 5%;
    padding: 1%;
    display: flex;
    align-items: center;
    gap: 3%
}

.navegacion {
    margin-right: 9%;
    padding-top: 1.5%;
}

.navegacion__lista {
    display: flex;
    list-style: none;
    gap: 5%;
}

.redes {
    list-style: none;
}

a {
    color: var(--titulos);
    text-decoration: none;
    white-space: nowrap;
}

.linea {
    height: 3px;
    background: var(--texto);
}

.presentacion {
    display: flex;
    background-color: var(--fondo2);
}

.presentacion__contenedor {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10%;
    padding: 0 2%;
    line-height: 150%;
}

.pc2 {
    width: 150%;
}

.presentacion__titulo {
    color: var(--titulos);
    font-size: 4rem;
    margin-top: 15%;
    font-family: "DM Serif Display", serif;
}

.presentacion__titulo2 {
    margin-top: 10%;
}

.presentacion__foto {
    width: 29%;
}

.habilidades__aficiones {
    display: flex;
}

.habilidades, .aficiones, .proyectos, .formacion {
    display: flex;
    gap: 5%;
    padding: 2% 2%;
    align-items: center;
    flex-direction: column;
}

.habilidades__titulo, .aficiones__titulo, .formacion__titulo,
.proyectos__titulo, .contacto__titulo {
    font-family: "DM Serif Display", serif;
    font-size: 3rem;
    color: var(--titulos);
    padding: 3%;
}

.aficiones__titulo {
    margin-right: 10%;
    padding-top: 5%;
    padding-bottom: 0;
}

.habilidades__lista, .aficiones__lista, .formacion__lista{
    display: flex;
    list-style: none;
    gap: 10%;
    margin-left: 9%;
}

.habilidades__lista, .aficiones__lista {
    flex-wrap: wrap;
}

.habilidades__elemento, .aficiones__elemento, .formacion__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.habilidades__icono, .aficiones__icono {
    width: 50%;
}

.formacion {
    padding-bottom: 4%;
    background-color: var(--fondo2);
}

.formacion__elemento {
    background-color: white;
    border-radius: 8%;
    padding: 1%;
    text-align: center;
    gap: 6%;
}

.formacion__lista {
    margin-right: 13%;
}

.proyectos__nombre {
    padding-bottom: 3%;
    color: var(--titulos);
    font-size: 1.9rem;
}

.proyecto__elemento {
    display: flex;
    align-items: center;
    margin: 5% 10% 7%;
    gap: 5%;
}

.proyecto__icono {
    width: 40%;
}

.contacto {
    background-color: var(--fondo2);
    text-align: center;
}

.contacto__elemento {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 0 15% 5% 0;
}

.contacto__icono {
    width: 30%;
}

.contacto__formulario {
    display: flex;
    flex-direction: column;
    gap: 9%;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
}

.contacto__campo {
    border-radius: 16px;
    border-color: var(--fondo);
    width: 300%;
    font-family: "Antic Didone", serif;
    font-size: 1.5rem;
    padding: 2%;
    resize: none;
    outline: none;
}

.contacto__campo::placeholder {
    color: var(--texto);
}

.contacto__boton {
    background-color: var(--titulos);
    color: var(--fondo);
    border-radius: 16px;
    width: 150%;
    height: 10%;
    font-family: "Antic Didone", serif;
    font-size: 1.5rem;
}

.contacto__boton:hover {
    cursor: pointer;
}

.footer {
    background-color: var(--titulos);
    color: var(--fondo);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1%;
}

@media (max-width: 1024px) {    
    body {
        width: 145%;
    }

    .navegacion {
        padding-right: 1%;
    }

    .presentacion {
        flex-wrap: wrap;
    }

    .presentacion__foto {
        width: 25%;
    }

    .redes {
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
    }
}